@model MenuModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>hello</h1>
    <partial name="_LeftMenuPartial" model="Model.Id" />
</body>
</html>
